@import url('https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Instrument Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

/* nav-start */

.first-section {
  background-color: black;
  color: white;
  height: 100vh;
  width: 100%;
}

li, a {
  text-decoration: none;
  list-style: none;
  color: white;
}

.nav-bar {
  height: 5vh;
  width: 100%;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  z-index: 1;
}

.nav-list {
  display: flex;
}
.nav-home {
  margin-left: 1rem;
}

.nav-list > li{
  margin: 0 1rem;
}

.container-btn {
  margin-right: 1rem;
}

.container-btn > button {
  border: none;
  cursor: pointer;
  margin: 0 10px;
  background: unset;
  color: white;
}

/* nav-hovers */

.nav-list > li > a:hover {
  color: crimson;
  transition: 0.5s;
  }

.nav-home > a:hover {
  color: crimson;
  transition: 0.5s;
}

.container-btn > button:hover {
  color: crimson;
  transition: 0.5s;
}

/* nav-hovers-end */
/* nav-end */

/* main-start */

.main-container {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.tribute-cont {
  color: crimson;
  text-shadow: 1px 1px 50px red;
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
  margin-right: 2rem;
  position: relative;
  top: 8rem;
  right: 10rem;
  z-index: 1;
}

.title-cont {
  margin-left: 2rem;
  z-index: 1;
}

.title-cont h1 {
  font-family: "Italiana", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4rem;
}

.title-cont h1:nth-child(2) {
  position: relative;
  left: 6rem;
}

.hehe-container {
  height: 100%;
  width: 50%;
  align-self: flex-end;
  display: flex;
}

.color {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-image: radial-gradient(closest-side, rgba(18, 40, 163, 0.21),#000);
}

/*about-start*/

.about-section {
  height: 100vh;
  width: 100%;
}















