* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

/* HEADER START */

#header {
	height: 100vh;
	width: 100%;
	background: url(/burguer-page/img/pexels-christopher-welsch-leveroni-2150186467-33152860.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
}

#header button {
	background-color: #FFA500;
	border: transparent;
	align-self: flex-start;
	font-weight: lighter;
	font-size: 2rem;
	padding: 1rem;
	margin-left: 2rem;
	margin-bottom: 2rem;
	font-weight: 100;
	border-radius: 30px;
	box-shadow: 1px 1px 10px 1px black;
}

#header button:hover {
	transform: scale(1.1);
	transition: all 0.2s ease;
	cursor: pointer;
}

.navbar-container {
	position: relative;
	width: 100%;
	height: 5vh;
	color: #FFA500;
}

.navbar {
	position: fixed;
	width: 100%;
	height: 5vh;
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: rgb(0, 0, 0, 30%);
	z-index: 2;
}

.nav-icon {
	width: 10%;
	height: 5vh;
}

.nav-icon img {
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: contain;
}

.bars {
	display: none;
}

ul {
	display: flex;
}

li {
	margin-right: 2rem;
}

li, a{
	list-style: none;
	text-decoration: none;
	color: #FFA500;
	font-weight: lighter;
}

a {
  border-bottom: 1px solid transparent;
  transition: border-bottom 0.3s ease;
}


a:hover {
	  border-bottom: 1px solid #FFA500;
}


/* HEADER END */

/* MAIN START */

#main {
	height: 100vh;
	width: 100%;
	background-image: url(/burguer-page/img/clem-onojeghuo-zlABb6Gke24-unsplash.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

#main h2 {
	position: absolute;
	font-size: 2rem;
	color: #FFA500;
	margin-top: 5rem;
	margin-left: 6rem;
}

.cards {
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.card {
	border-radius: 5%;
	width: 20vw;
	height: 50vh;
	background-color: #040D22;
	color: white;
}

.box-image {
	width: 100%;
	height: 65%;
}

.box-image img{
	width: 100%;
	height: 100%;
	object-position: center;
	object-fit: cover;
	border-radius: 5% 5% 0 0;
}

.title-card {
	text-align: center;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	font-size: 1.3rem;
}

.box-description {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.box-description ul {
	display: block;
}

.box-description ul li{
	color: white;
	list-style: disc;
	margin-left: 30px;
	margin-top: 5px;
}

.box-description h4 {
	color: #FFA500;
	font-size: 2rem;
	margin-right: 1rem;
}

.card button {
	position: relative;
	left: 130px;
	top: 50px;
	font-size: 1.5rem;
	padding: 1rem;
	border: transparent;
	border-radius: 10%;
	color: white;
	background-color: #1F3670;
	cursor: pointer;
}

.card button:hover {
	transform: scale(1.1);
	transition: all 0.1s ease-in;
}

#location {
	height: 100vh;
	width: 100%;
	background: url(/burguer-page/img/pexels-max-johnson-719698503-18296012.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.shop-description {
	height: 55vh;
	width: 30vw;
	background-color: white;
	color: black;
	font-size: 1.3rem;
	border-radius: 10%;
	box-shadow: 1px 1px 10px 1px black;
}

.shop-description h3 {
	margin-top: 1rem;
	margin-left: 1rem;
}

.shop-description h4 {
	margin-left: 1rem;
	margin-top: 1rem;
}

.shop-description p {
	margin-left: 1rem;
	margin-top: 1rem;	
}

.location-description {
	background-color: white;
	width: 20vw;
	height: 15vw;
	box-shadow: 1px 1px 10px 1px black;
}

.location-description ul li{
	color: black;
}

.location-description p {
	padding-top: 1rem;
	margin-left: 1rem;
}

.location-description ul {
	margin-top: 1rem;
	margin-left: 1rem;
	display: flex;
	flex-direction: column;
	font-size: 1.2rem;
}

.location-description ul li {
	margin-top: 1rem;
}

.location-image {
	width: 20vw;
	height: 20vh;
}

.location-image img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

#formulary {
	height: 100vh;
	width: 100%;
	background: url(/burguer-page/img/pexels-introspectivedsgn-12641842.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	display: flex;
	justify-content: center;
	align-items: center;
}


.formulary {
	border-radius: 500px;
	background-color: black;
	height: 20vh;
	width: 20vw;
	color: white;
}

form {
	display: flex;
	flex-direction: column;
	background-color: black;
	justify-content: space-evenly;
	align-items: center;
	width: 100%;
	height: 100%;
	border-radius: 40px;
} 

footer {
	background-color: black;
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

footer p:first-child {
	margin-left: 1rem;
}

footer p:last-child {
	margin-right: 1rem;
}






















































@media (max-width: 768px){
	.navbar-list {
		display: none;
	}

	.bars {
		display: inline;
	}

	.bar {
		width: 30px;
		height: 10px;
		border-bottom: 2px solid #FFA500 ;
		margin-right: 20px;
	}
	
	.nav-icon {
		width: 8%;
		height: 5vh;
	}

	.nav-icon img {
		width: 100%;
		height: 100%;
		object-fit: contain;
	}

	#header button {
		align-self: center;
		font-size: 0.8rem;
		padding: 0.5rem;
	}


}